In [1]:
#Add the Pandas dependency
import pandas as pd

In [2]:
#Files to load
grad_enroll1213=pd.read_csv('../All_Data_Data/All_1213')
grad_enroll1314=pd.read_csv('../All_Data_Data/All_1314')
grad_enroll1415=pd.read_csv('../All_Data_Data/All_1415')
grad_enroll1516=pd.read_csv('../All_Data_Data/All_1516')
#grad_enroll1617=pd.read_csv('../All_Data_Data/All_1617')

In [3]:
grad_enroll1213['Year']='1213'
grad_enroll1314['Year']='1314'
grad_enroll1415['Year']='1415'
grad_enroll1516['Year']='1516'
#grad_enroll1617['Year']='1617'

In [4]:
All_Data=pd.concat([grad_enroll1213, grad_enroll1314, grad_enroll1415,grad_enroll1516])
All_Data

,Unnamed: 0,CDS_CODE,DISTRICT,ETHNIC,GR_12,ENR_TOTAL,GRADS,UC_GRADS,District_Code,Function_Code,Function,Amount,Year
0,0,1100170000000,Alameda County Office of Education,0,2,35,6,2,10017,2100,Classified Instructional Salaries ...,5761988.84,1213
1,1,1100170000000,Alameda County Office of Education,0,2,35,6,2,10017,5900,Communications ...,2126900.99,1213
2,2,1100170000000,Alameda County Office of Education,0,2,35,6,2,10017,7110,Tuition for Instruction Under Interdistrict At...,248316.29,1213
3,3,1100170000000,Alameda County Office of Education,0,2,35,6,2,10017,8110,Maintenance and Operations (Public Law 81-874)...,2607.78,1213
4,4,1100170000000,Alameda County Office of Education,0,2,35,6,2,10017,9200,Accounts Receivable ...,1138122.98,1213
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,3098,57727100000000,Woodland Joint Unified,7,194,2328,356,170,72710,7110,Tuition for Instruction Under Interdistrict At...,112978.33,1516
3099,3099,57727100000000,Woodland Joint Unified,7,194,2328,356,170,72710,9200,Accounts Receivable ...,1070796.00,1516
3100,3100,57727100000000,Woodland Joint Unified,9,5,141,10,6,72710,4200,Books and Other Reference Materials ...,549355.85,1516
3101,3101,57727100000000,Woodland Joint Unified,9,5,141,10,6,72710,7110,Tuition for Instruction Under Interdistrict At...,112978.33,1516
3102,3102,57727100000000,Woodland Joint Unified,9,5,141,10,6,72710,9200,Accounts Receivable ...,1070796.00,1516

In [5]:
All_Data=All_Data[['Year','CDS_CODE','DISTRICT','District_Code','ETHNIC','GR_12','ENR_TOTAL','GRADS','UC_GRADS','Function_Code','Function','Amount']]
All_Data

,Year,CDS_CODE,DISTRICT,District_Code,ETHNIC,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Function_Code,Function,Amount
0,1213,1100170000000,Alameda County Office of Education,10017,0,2,35,6,2,2100,Classified Instructional Salaries ...,5761988.84
1,1213,1100170000000,Alameda County Office of Education,10017,0,2,35,6,2,5900,Communications ...,2126900.99
2,1213,1100170000000,Alameda County Office of Education,10017,0,2,35,6,2,7110,Tuition for Instruction Under Interdistrict At...,248316.29
3,1213,1100170000000,Alameda County Office of Education,10017,0,2,35,6,2,8110,Maintenance and Operations (Public Law 81-874)...,2607.78
4,1213,1100170000000,Alameda County Office of Education,10017,0,2,35,6,2,9200,Accounts Receivable ...,1138122.98
...,...,...,...,...,...,...,...,...,...,...,...,...
3098,1516,57727100000000,Woodland Joint Unified,72710,7,194,2328,356,170,7110,Tuition for Instruction Under Interdistrict At...,112978.33
3099,1516,57727100000000,Woodland Joint Unified,72710,7,194,2328,356,170,9200,Accounts Receivable ...,1070796.00
3100,1516,57727100000000,Woodland Joint Unified,72710,9,5,141,10,6,4200,Books and Other Reference Materials ...,549355.85
3101,1516,57727100000000,Woodland Joint Unified,72710,9,5,141,10,6,7110,Tuition for Instruction Under Interdistrict At...,112978.33
3102,1516,57727100000000,Woodland Joint Unified,72710,9,5,141,10,6,9200,Accounts Receivable ...,1070796.00

In [6]:
#All_Data_Func=All_Data[['Year','CDS_CODE','ETHNIC','GR_12','ENR_TOTAL','GRADS','UC_GRADS','Function','Amount']]
#All_Data_Func

In [7]:
All_Data=All_Data.groupby(['Year','CDS_CODE','DISTRICT','District_Code','ETHNIC','GR_12','ENR_TOTAL','GRADS','UC_GRADS','Function_Code','Function']).sum()
All_Data

                                                                                                                                                                                 Amount
Year CDS_CODE       DISTRICT                           District_Code ETHNIC GR_12 ENR_TOTAL GRADS UC_GRADS Function_Code Function
1213 1100170000000  Alameda County Office of Education 10017         0      2     35        6     2        2100          Classified Instructional Salaries              ...  5761988.84
                                                                                                           5900          Communications                                 ...  2126900.99
                                                                                                           7110          Tuition for Instruction Under Interdistrict Att...   248316.29
                                                                                                           8110          Maintenance and Operations (Public Law 81-874) ...     2607.78
                                                                                                           9200          Accounts Receivable                            ...  1138122.98
...                                                                                                                                                                                 ...
1516 57727100000000 Woodland Joint Unified             72710         7      194   2328      356   170      7110          Tuition for Instruction Under Interdistrict Att...   112978.33
                                                                                                           9200          Accounts Receivable                            ...  1070796.00
                                                                     9      5     141       10    6        4200          Books and Other Reference Materials            ...   549355.85
                                                                                                           7110          Tuition for Instruction Under Interdistrict Att...   112978.33
                                                                                                           9200          Accounts Receivable                            ...  1070796.00

[11910 rows x 1 columns]

In [8]:
#All_Data_Func=All_Data.groupby(['Year','CDS_CODE','ETHNIC','GR_12','ENR_TOTAL','GRADS','UC_GRADS','Function']).sum()
#All_Data_Func

In [9]:
All_Data.sort_values(by=['Year','CDS_CODE','DISTRICT','District_Code','ETHNIC','GR_12','ENR_TOTAL','GRADS','UC_GRADS','Function_Code','Function','Amount'])

                                                                                                                                                                                 Amount
Year CDS_CODE       DISTRICT                           District_Code ETHNIC GR_12 ENR_TOTAL GRADS UC_GRADS Function_Code Function
1213 1100170000000  Alameda County Office of Education 10017         0      2     35        6     2        2100          Classified Instructional Salaries              ...  5761988.84
                                                                                                           5900          Communications                                 ...  2126900.99
                                                                                                           7110          Tuition for Instruction Under Interdistrict Att...   248316.29
                                                                                                           8110          Maintenance and Operations (Public Law 81-874) ...     2607.78
                                                                                                           9200          Accounts Receivable                            ...  1138122.98
...                                                                                                                                                                                 ...
1516 57727100000000 Woodland Joint Unified             72710         7      194   2328      356   170      7110          Tuition for Instruction Under Interdistrict Att...   112978.33
                                                                                                           9200          Accounts Receivable                            ...  1070796.00
                                                                     9      5     141       10    6        4200          Books and Other Reference Materials            ...   549355.85
                                                                                                           7110          Tuition for Instruction Under Interdistrict Att...   112978.33
                                                                                                           9200          Accounts Receivable                            ...  1070796.00

[11910 rows x 1 columns]

In [10]:
#All_Data.to_csv('../All_Data_Data/All_and_1617.csv')

In [11]:
All_Data.to_csv('../All_Data_Data/All_NO_1617.csv')

In [12]:
#from sqlalchemy import create_engine