Try to find correlation between district financing and district graduation rate

Caution: the code below is just schema and haven't been tested on real dataframe!

In [1]:
import pandas as pd

In [13]:
#oped the data frame ()
#df= pd.read_csv("file.csv")
data = {'ID': [1, 2, 3, 4, 5], 'Funds': [200, 400, 500, 400, 100], 'Graduation': [0.6, 0.65, 0.8, 0.75, 0.5]}
df=pd.DataFrame(data)
df = df.set_index(["ID"])
df

    Funds  Graduation
ID
1     200        0.60
2     400        0.65
3     500        0.80
4     400        0.75
5     100        0.50

In [15]:
financing = df["Funds"]
grad_rate = df["Graduation"]
correlation = financing.corr(grad_rate)
correlation

0.9431535725789761