Try to find correlation between district financing and district graduation rate

Caution: the code below is just schema and haven't been tested on real dataframe!

In [1]:
import pandas as pd

In [5]:
#oped the data frame ()
df= pd.read_csv("Final/cds_enroll_amt1213.csv")
df.head()

        CDS_CODE  GR_12  ENR_TOTAL  GRADS  UC_GRADS        Amount
0  1100170000000    304       3175    255       122  2.387492e+08
1  1611190000000    953       5621    827       426  3.471054e+08
2  1611270000000    308       1211    303       121  2.114903e+08
3  1611430000000    881       3724    786       383  9.143837e+08
4  1611500000000    784       3148    741       406  3.970073e+08

In [9]:
#Calculate Graduation rate
df['GR_RATE'] = df.UC_GRADS/df.GR_12
df.head()

        CDS_CODE  GR_12  ENR_TOTAL  GRADS  UC_GRADS        Amount   GR_RATE
0  1100170000000    304       3175    255       122  2.387492e+08  0.401316
1  1611190000000    953       5621    827       426  3.471054e+08  0.447009
2  1611270000000    308       1211    303       121  2.114903e+08  0.392857
3  1611430000000    881       3724    786       383  9.143837e+08  0.434733
4  1611500000000    784       3148    741       406  3.970073e+08  0.517857

In [10]:
financing = df["Amount"]
grad_rate = df["GR_RATE"]
correlation = financing.corr(grad_rate)
correlation

0.298302035125083