In [1]:
#add dependencies
import pandas as pd
import os

In [3]:
#Load file
grad_1314_df=pd.read_csv('../Graduation13-14.csv')
grad_1314_df.head()

       CDS_CODE  ETHNIC GENDER  GRADS  UC_GRADS  YEAR
0  1.100170e+12       3      M      1         0  1314
1  1.100170e+12       6      F      3         0  1314
2  1.100170e+12       5      F      4         1  1314
3  1.100170e+12       2      M      4         1  1314
4  1.100170e+12       5      M      5         0  1314

In [4]:
#Determine any missing values
grad_1314_df.dropna()
grad_1314_df.count()

CDS_CODE    20746
ETHNIC      20746
GENDER      20746
GRADS       20746
UC_GRADS    20746
YEAR        20746
dtype: int64

In [6]:
#Determine data types
grad_1314_df.dtypes

CDS_CODE    float64
ETHNIC        int64
GENDER       object
GRADS         int64
UC_GRADS      int64
YEAR          int64
dtype: object

In [7]:
cleaned_grad_1314_df=grad_1314_df[['CDS_CODE','ETHNIC','GRADS','UC_GRADS']]
cleaned_grad_1314_df

           CDS_CODE  ETHNIC  GRADS  UC_GRADS
0      1.100170e+12       3      1         0
1      1.100170e+12       6      3         0
2      1.100170e+12       5      4         1
3      1.100170e+12       2      4         1
4      1.100170e+12       5      5         0
...             ...     ...    ...       ...
20741  5.872770e+13       2      2         0
20742  5.872770e+13       4      1         1
20743  5.872770e+13       5     24        16
20744  5.872770e+13       2      3         2
20745  5.872770e+13       3      1         1

[20746 rows x 4 columns]

In [8]:
cleaned_grad_1314_df['CDS_CODE'] = cleaned_grad_1314_df['CDS_CODE'].astype('int64') 
cleaned_grad_1314_df.head()

C:\Users\hhngu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CDS_CODE  ETHNIC  GRADS  UC_GRADS
0  1100170000000       3      1         0
1  1100170000000       6      3         0
2  1100170000000       5      4         1
3  1100170000000       2      4         1
4  1100170000000       5      5         0