In [1]:
#add dependencies
import pandas as pd
import os

In [3]:
#Load file
grad_1213_df=pd.read_csv('../Graduation12_13.csv')
grad_1213_df.head()

       CDS_CODE  ETHNIC GENDER  GRADS  UC_GRADS  YEAR
0  1.100170e+12       1      F      1         1  1213
1  1.100170e+12       2      M      4         3  1213
2  1.100170e+12       6      M      2         2  1213
3  1.100170e+12       0      M      3         1  1213
4  1.100170e+12       2      F      9         7  1213

In [4]:
#Determine any missing values
grad_1213_df.dropna()
grad_1213_df.count()

CDS_CODE    20645
ETHNIC      20645
GENDER      20645
GRADS       20645
UC_GRADS    20645
YEAR        20645
dtype: int64

In [5]:
#Determine data types
grad_1213_df.dtypes

CDS_CODE    float64
ETHNIC        int64
GENDER       object
GRADS         int64
UC_GRADS      int64
YEAR          int64
dtype: object

In [6]:
cleaned_grad_1213_df=grad_1213_df[['CDS_CODE','ETHNIC','GRADS','UC_GRADS']]
cleaned_grad_1213_df

           CDS_CODE  ETHNIC  GRADS  UC_GRADS
0      1.100170e+12       1      1         1
1      1.100170e+12       2      4         3
2      1.100170e+12       6      2         2
3      1.100170e+12       0      3         1
4      1.100170e+12       2      9         7
...             ...     ...    ...       ...
20640  5.872770e+13       3      2         0
20641  5.872770e+13       7     43        24
20642  5.872770e+13       7     37        11
20643  5.872770e+13       2      2         2
20644  5.872770e+13       5     15         7

[20645 rows x 4 columns]

In [7]:
cleaned_grad_1213_df['CDS_CODE'] = cleaned_grad_1213_df['CDS_CODE'].astype('int64') 
cleaned_grad_1213_df.head()

C:\Users\hhngu\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CDS_CODE  ETHNIC  GRADS  UC_GRADS
0  1100170000000       1      1         1
1  1100170000000       2      4         3
2  1100170000000       6      2         2
3  1100170000000       0      3         1
4  1100170000000       2      9         7